/* Cores principais 
verde : #346635
roxa : #472387
*/
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 700 */
* {

  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Cores principais 
verde : #346635
roxa : #472387
*/
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 700 */
* {

  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo-menu img {
  width: 80px;
  height: 80px;
}

header .logo-menu nav img {
  margin: 2px;
  display: block;
}

/* Seção quem somos e sobre nós */

.sobrenos {
  text-align: center;
  background-color: #34104d;
  padding: 10px 0px 40px 0px;
}

.sobrenos h1 {
  color: #ffffff;
  text-shadow: 2px 2px 3px #346635;
  letter-spacing: 5px;
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 3em;
}

.sobrenos h3 {
  color: rgb(168, 154, 154);
}

.sobrenos h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.sobrenos p {
  color: white;
}

.card {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 20px;
  padding-bottom: 10px;
}

.card h1 {
  color: #000;
  font-size: 2em;
  text-shadow: none;
  text-transform: unset;
}

.card div {
  box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.8);
  background-color: aliceblue;
  padding: 30px 5px;
  border-radius: 8px;
}

.card h2 {
  color: #000;
}

.card p {
  color: #004d99;
}

.card {
  width: 100%;
  padding: 20px 20px;
}

.card div img {
  width: 200px;
  height: 200px;

  margin: auto;
}

.card div .card-midia {
  border: 2px solid;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 5px;
  margin: 2px;

}

.card div .card-midia div {
  padding: 5px 25px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

/* FIM Seção quem somos e sobre nós */


#depoimentos {
  background-color: #472387;
  /* Cor de fundo da seção */
  padding: 60px 0;
  color: #fff;
  /* Cor do texto */
}

#depoimentos .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

#depoimentos h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #f9f9f9;
  /* Cor do título */
}

.depoimentos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-columns: auto auto;
  gap: 20px;
}

.depoimento-item {
  background-color: #fff;
  /* Cor de fundo dos depoimentos */
  padding: 80px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
}

.depoimento-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #472387;
  /* Cor da borda da imagem de perfil */
}

.depoimento-item p {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 40px;
  color: #555;
  /* Cor do texto dos depoimentos */
}

.cliente-info {
  margin-top: 15px;
}

.cliente-info .nome {
  display: block;
  font-weight: bold;
  color: #472387;
  /* Cor do nome do cliente */
}

.cliente-info .cargo {
  display: block;
  color: #777;
  font-style: italic;
}

/* Área PROMO */
.promo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #346635;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 4px 3px 4px rgb(40, 118, 182);
  padding-top: 10px;
}

.promo h2 {
  text-align: center;
  border: 5px solid #472387;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 20px 90px;
  box-shadow: 5px 5px 20px rgb(40, 118, 182);
}

/* FIM Área PROMO */

/* Seção "vitrine" -- galeria / loja virtual */

/*
.vitrine h1 {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 50px;
  color: rgb(78, 78, 151);
}
.galeria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.galeria img {
  width: 30%;
}
.galeria > div > h3 {
  color: #0d7ee9;
  font-weight: bold;
  font-size: 28px;
}
.galeria > div > p {
  font-size: 22px;
}

.galeria button {
  background-color: #346635;
  border-radius: 15px;
  border: none;
  width: 200px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galeria div {
  width: 33%;
  text-align: center;
  box-shadow: 2px 2px 3px #aaaaaa;
  margin-bottom: 4px;

  padding-bottom: 20px;
  padding-top: 10px;
}

.galeria a {
  color: #ffffff;
}

*/
.photo-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.photo-list li {
  width: 33%;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.photo-list li figure img {
  width: 25%;
  transform: scale(1.15);
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
  padding-bottom: 10px;
  margin: auto;
}

.photo-list li figure img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.photo-list li button {
  background-color: #346635;
  border-radius: 15px;
  border: none;
  width: 200px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FIM Seção "vitrine" -- galeria / loja virtual */

/* Container CONTATOS em display GRID*/

.nossos-contatos {
  background-color: #346635;
  background-size: cover;
  background-attachment: scroll;
}

.contatos-header {
  text-align: center;
  background-color: #346635;
  color: #ddcece;
  padding: 20px 0;
  position: relative;
}

.contatos {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  padding: 30px;
  justify-content: center;
}

.contatos>div {
  background-color: #0e59a0;
  color: bisque;
  text-align: center;
  border: 3px solid rgb(214, 200, 200);
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #471f61;
  transition: 0.5s;
  position: relative;
  align-content: center;
}

.contatos>div>h3 {
  color: #000;
  font-size: 28px;
  font-weight: lighter;
}

.contatos>div:hover {
  transform: scale(1.05);
  z-index: 2;
}

.telefones::after {
  content: " ";
  height: 2px;
  width: 200px;
  background-color: #3fb845;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

/* FIM Container CONTATOS em display GRID*/

/* seção orçamento / artigo - link para outra página */

.orcamento {
  background-color: #471f61;
  padding: 60px;
  text-align: center;
}

.orcamento h2 {
  color: #ffffff;
  text-align: center;
}

.orcamento button {
  background-color: #346635;
  border-radius: 15px;
  border: none;
  width: 400px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orcamento a {
  color: bisque;
}

/* FIM seção orçamento - link para outra página */

/* SEÇÃO FOOTER */
.links-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #221414;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.nav-footer img {
  width: 100px;
}

.nav-footer {
  padding: 20px;
}

.nav-footer ul {
  margin: 0;
  padding: 0;
}

.nav-footer ul li a {
  color: aliceblue;
}

.links-footer ul li {
  list-style-type: none;
}

.nav-footer h3 {
  color: #3fb845;
}

.nav-footer:first-child {
  padding-top: 30px;
}

.diversos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding: 20px;
  background-color: #221414;
  color: white;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.diversos div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 10px;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.final {
  background-color: #221414;
  padding-bottom: 30px;
}

.final::before {
  content: " ";
  height: 2px;
  width: 600px;
  background-color: #3fb845;
  display: block;
  margin: 0 auto;
}

.final::after {
  content: " ";
  height: 2px;
  width: 600px;
  background-color: #3fb845;
  display: block;
  margin: 0 auto;
}

.politica {
  padding: 30px;
  margin: 0;
  background-color: #01396e;
  text-align: center;
}

.politica h4 {
  color: wheat;
}

/* FIM SEÇÃO FOOTER */

/*Estilização ícones*/
ion-icon {
  font-size: 100%;
  color: #e67e22;
}

.diversos ion-icon {
  font-size: 200%;
  color: #e67e22;
}

/**/
/* Página FORMULÁRIO DE ORÇAMENTO */
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  background-color: #4a2b80;
  color: #0d7ee9;
}

.formulario form {
  width: 60%;
}

form h3 {
  font-size: 24px;
}

.dados-contato {
  padding-top: 40px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding: 10px;
  justify-content: center;
  text-align: left;
}

.dados-contato input[type="text"],
select {
  width: 100%;
  padding: 12px 80px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dados-contato label {
  font-size: 28px;
  color: #2196f3;
}

.formulario input[type="submit"] {
  width: 100%;
  background-color: #346635;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

input[type="submit"]:hover {
  background-color: #3e8d3f;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}

.cotacao {
  padding-bottom: 50px;
}

.cotacao h3 {
  font-size: 28px;
}

.cotacao div {
  font-size: 22px;
}

.pesquisa select {
  text-align: center;
  font-size: 24px;
  color: #2196f3;
}

.marcas {
  padding: 30px;
  font-size: 24px;
}

/* FIM DA PÁGINA FORMULÁRIO */
/* Página de Artigo */
.artigo {
  background-color: #ceccfc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 30%;

}

.artigo p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 5px;
  line-height: 30px;
  font-size: 22px;
  font-weight: lighter;
}

.artigo p a {
  text-decoration: none;
  color: #008cba;
}

.artigo ul {
  line-height: 45px;
  list-style: square;
  font-size: 24px;
  font-weight: lighter;
}

.artigo ol {
  line-height: 50px;
  list-style: decimal;
  font-size: 24px;
  font-weight: lighter;
  padding-bottom: 30px;
}

.politica {
  text-align: center;
}

.politica ul {
  list-style: none;
  color: blanchedalmond;
}

.politica ul li a {
  color: blanchedalmond;
}

.artigo img {
  width: 100%;
}

/* FIM Página de Artigo */

/* CSS SAMUEL  */
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #01396e;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}



.menu {
  list-style: none;
  display: flex;
  margin: 2px;
  padding: 0;
}

.menu>li {
  position: relative;
  margin-left: 20px;
}

.menu>li>a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.menu>li>a i {
  margin-right: 8px;
}

.menu>li>a:hover,
.menu>li>a:focus {
  background-color: #0066cc;
  border-radius: 4px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #004d99;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  z-index: 1000;
}

.submenu>li>a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.submenu>li>a:hover,
.submenu>li>a:focus {
  background-color: #0066cc;
}

.menu>li:hover .submenu,
.menu>li:focus-within .submenu {
  display: block;
}

/* Responsive Styles */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}


/**************************/

/****  RESPONSIVIDADE *****/

/**************************/


/*** imagens ***/

/* Página artigo */
/*section class artigo img figure img*/

@media (max-width: 844px) {
  .menu {
    /* text-align: center; */
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #004d99;
    margin-left: 50px;
  }

  .fas {
    padding: 30px 0;
    margin-left: 65px;
  }

  .menu>li {
    margin: 0;
  }

  .menu>li>a {
    padding: 10px;
    border-top: 1px solid #0066cc;
    border-bottom: 1px solid #0066cc;
  }

  .submenu {
    position: static;
  }

  .submenu>li>a {
    padding-left: 30px;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked+.menu-icon+.menu {
    display: flex;
  }

  .carousel-container {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
  }

  .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    position: relative;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    display: block;
  }

  .carousel-item::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
  }

  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  /* Seção quem somos e sobre nós */

  .sobrenos h2 {
    margin: 0px;
  }

  .card {
    display: grid;
    grid-template-columns: auto;

  }


  .card div {
    box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.8);
    background-color: aliceblue;
    padding: 5px 80px;
    border-radius: 8px;
  }

  .card div h2 {
    font-size: 22px;
  }

  .card p {
    margin: 10px;
  }

  .card>div>img {
    max-width: 150px;
    max-height: 100px;
    width: 100%;
  }

  .photo-list {
    display: flex;
    grid-template-columns: auto;

  }

  .photo-list li {
    flex-basis: 280px;
    justify-content: center;
    flex-grow: 1;
  }

  #depoimentos {
    background-color: #472387;
    /* Cor de fundo da seção */
    padding: 60px 0;
    color: #fff;
    /* Cor do texto */
  }

  #depoimentos .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }

  #depoimentos h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #f9f9f9;
    /* Cor do título */
  }

  .depoimentos-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .depoimento-item {
    background-color: #fff;
    /* Cor de fundo dos depoimentos */
    padding: 25px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
  }

  .depoimento-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #472387;
    /* Cor da borda da imagem de perfil */
  }

  .depoimento-item p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 40px;
    color: #555;
    /* Cor do texto dos depoimentos */
  }

  .cliente-info {
    margin-top: 15px;
  }

  .cliente-info .nome {
    display: block;
    font-weight: bold;
    color: #472387;
    /* Cor do nome do cliente */
  }

  .cliente-info .cargo {
    display: block;
    color: #777;
    font-style: italic;
  }


  /* FIM Seção quem somos e sobre nós */

  /* Área PROMO */

  .promo h2 {

    letter-spacing: 2px;
    padding: 10px 35px;

  }

  /* FIM Área PROMO */
  /* Seção "vitrine" -- galeria / loja virtual */


  /* Container CONTATOS em display GRID*/

  .contatos {
    display: grid;
    grid-template-columns: auto;
  }


  .contatos>div {
    background-color: #0e59a0;
    color: bisque;
    text-align: center;
    border: 3px solid rgb(214, 200, 200);
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #471f61;
    transition: 0.5s;
    position: relative;
    align-content: center;
    padding: 0px 25px;
  }


  /* FIM Container CONTATOS em display GRID*/




  /* SEÇÃO ARTIGO */
  .artigo {
    background-color: #ceccfc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;

  }

  .artigo p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    font-weight: lighter;
  }

  .artigo ol {

    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
  }

  .artigo ul {

    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
  }

  /* FIM SEÇÃO ARTIGO */

  /* SEÇÃO FOOTER */
  .links-footer {
    display: grid;
    grid-template-columns: auto auto;

  }

  .nav-footer img {
    width: 100px;
  }

  .nav-footer {
    padding: 20px;
    text-align: center;
    width: 180px;
  }

  .nav-footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .diversos {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

  }

  .final::before {
    width: 60%;
  }

  .final::after {
    width: 60%;
  }

  /* FIM SEÇÃO FOOTER */
  /* Página FORMULÁRIO DE ORÇAMENTO */
  .formulario {
    padding: 0px;
  }

  .formulario form {
    width: 100%;
  }

  .dados-contato {
    display: grid;
    grid-template-columns: auto;
  }



  .formulario input[type="submit"] {
    width: 90%;
    background-color: #346635;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
  }



  .cotacao {
    padding-bottom: 10px;
  }

  .cotacao h3 {
    font-size: 28px;
    margin: 0px;
  }

  .cotacao div {
    font-size: 22px;
  }

  .pesquisa select {
    text-align: left;
    font-size: 22px;
    color: #2196f3;
  }

  .marcas {
    padding: 30px;
    font-size: 22px;
  }

  .pedido textarea {
    width: 90%;


  }

  /* fim página orçamento*/
}

/************************/
/* fim media query 844px*/
/************************/
@media (max-width: 468px) {

  .sobrenos h2 {
    margin: 0px;
    font-size: 20px;
  }

  .sobrenos h3 {
    font-size: 12px;
    padding: 5px;
  }

  .card {
    display: grid;
    grid-template-columns: auto;
  }

  .card div {
    box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.8);
    background-color: aliceblue;
    padding: 5px 40px;
    border-radius: 8px;
  }

  /* FIM Seção quem somos e sobre nós */
  /* Área PROMO */

  .promo h2 {

    font-size: 15px;
    padding: 10px 20px;

  }

  .artigo h1 {
    font-size: 20px;
  }

  .artigo h2 {
    font-size: 18px;
  }

  /* Seção "vitrine" -- galeria / loja virtual */


  .nossos-contatos {
    background-color: #346635;
    background-size: cover;
    background-attachment: scroll;
  }

  .contatos-header h2 {
    font-size: 22px;
  }

  .contatos-header h3 {
    font-size: 18px;
    padding: 2%;
  }


  .contatos>div {
    background-color: #0e59a0;
    color: bisque;
    text-align: center;
    border: 3px solid rgb(214, 200, 200);
    width: 280px;
    height: 250px;


  }

  .contatos>div>h3 {
    color: #000;
    font-size: 22px;
    font-weight: lighter;
  }

  .contatos>div>p {
    padding-left: 2%;
    padding-right: 2%;

  }


  /* FIM Container CONTATOS em display GRID*/


  /* seção orçamento / artigo - link para outra página */

  .orcamento {
    padding: 40px;
  }

  .orcamento h2 {
    font-size: 18px;
  }

  .orcamento button {
    width: 200px;

  }

  .orcamento button a {
    font-size: 18px;
  }


  /* FIM seção orçamento - link para outra página */


  /* SEÇÃO FOOTER */
  .links-footer {
    display: grid;
    grid-template-columns: auto;
    padding-top: 0px;
    padding-bottom: 0px;

  }

  .nav-footer img {
    width: 100px;
    margin: auto;
  }

  .nav-footer {
    padding: 0px;
    text-align: center;
    width: 180px;
  }

  .nav-footer ul {

    text-align: center;
  }

  .diversos {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 5px;

  }

  .diversos div {
    padding: 0px;
  }

  .diversos div h4 {
    margin: 0px;

  }

  .final::before {
    width: 60%;
  }

  .final::after {
    width: 60%;
  }

  /*página orçamento*/
  .formulario h2 {
    padding-left: 2%;
  }

  /* FIM página orçamento*/

  ion-icon {
    font-size: 200%;
    color: #e67e22;
  }

}